{% extends '::frontend.html.twig' %}
{% block contExcepciones %}
{% endblock %}
{% block contenido %}
    <title>{% block title %}SGI - EPIA{% endblock %}</title>
    {% block content_header %}{% endblock %}
    <ol class="breadcrumb">
        {% block breadcrumb %}{% endblock %}
    </ol>
    {% block content_body %}{% endblock %}
{% endblock %}