<select id="surtido" data-placeholder="Unidad medida" class="form-control" name="surtido" >
    <option value="0">Seleccione</option>
    {% for a in asegs %}
        <option value="{{ a.id  }}">{{ a.nombre }}</option>
    {% endfor %}
</select>
